@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");

:root {
  /** Primary Colors **/
  --primary-clr-darkBlue: hsl(233, 26%, 24%);
  --primary-clr-lime: hsl(136, 65%, 51%);
  --primary-clr-cyan: hsl(192, 70%, 51%);
  /** Neutral Colors **/
  --neutral-clr-grayBlue: hsl(233, 8%, 62%);
  --neutral-clr-lightGrayBlue: hsl(220, 16%, 96%);
  --neutral-clr-veryLightGray: hsl(0, 0%, 98%);
  --neutral-clr-white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 18px;
  background-color: var(--neutral-clr-veryLightGray);
  overflow-x: hidden;
}

img {
  width: 100%;
}

p {
  line-height: 1.5;
  color: var(--neutral-clr-grayBlue);
}

.title {
  color: var(--primary-clr-darkBlue);
  font-weight: 300;
  font-size: 2em;
}

.logo {
  cursor: pointer;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  background: linear-gradient(
    to right,
    var(--primary-clr-lime),
    var(--primary-clr-cyan)
  );
  color: white;
  text-decoration: none;
  font-weight: 700;
  padding: 1rem 3rem;
  border-radius: 100vh;
}

.nav-bar-container {
  position: relative;
  z-index: 9999;
  width: 100%;
  background-color: var(--neutral-clr-white);
}

.nav-bar {
  position: relative;
  display: flex;
  padding: 2rem 0;
  justify-content: space-between;
  align-items: center;
  .nav-links {
    display: flex;
    height: 100%;
    list-style: none;
    .nav-link {
      color: var(--neutral-clr-grayBlue);
      text-decoration: none;
      font-weight: 300;
    }
  }
}

.nav-links li + li {
  margin-left: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.hero-section {
  position: relative;
  z-index: 1;
  background-image: url(/images/bg-intro-desktop.svg);
  background-position: 220% 70%;
  background-size: 80%;
  background-repeat: no-repeat;
  grid-column: 1 / 6;
  display: flex;
  height: 84vh;
  align-items: center;
  justify-content: space-between;
  .hero-image {
    position: absolute;
    top: -6rem;
    right: -6rem;
    width: 50%;
  }
  .call-to-action {
    width: max-content;
  }
  .hero-p {
    max-width: 23em;
    margin: 1rem 0;
  }
  .hero-title {
    font-size: 50px;
    max-width: 10em;
    font-weight: 300;
    color: var(--primary-clr-darkBlue);
  }
}

.features-container {
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
  grid-column: 1 / 6;
  background-color: var(--neutral-clr-lightGrayBlue);
  .features {
    display: flex;
    .feature {
      margin-right: 2rem;
    }
    .feature:last-of-type {
      margin-right: 0;
    }
  }
  .feature-title {
    margin-bottom: 1.5rem;
    font-weight: 400;
    font-size: 22px;
    color: var(--primary-clr-darkBlue);
  }
  .feature-icon {
    width: 100px;
    margin: 2rem 0;
  }
  .fetures-p {
    max-width: 50rem;
    margin: 1.5rem 0;
  }
}

.articles {
  background-color: var(--neutral-clr-veryLightGray);
  grid-column: 1 / 6;
}

footer {
  width: 100%;
  background-color: var(--primary-clr-darkBlue);
}
