@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
:root {
  /** Primary Colors **/
  --primary-clr-darkBlue: hsl(233, 26%, 24%);
  --primary-clr-lime: hsl(136, 65%, 51%);
  --primary-clr-cyan: hsl(192, 70%, 51%);
  /** Neutral Colors **/
  --neutral-clr-grayBlue: hsl(233, 8%, 62%);
  --neutral-clr-lightGrayBlue: hsl(220, 16%, 96%);
  --neutral-clr-veryLightGray: hsl(0, 0%, 98%);
  --neutral-clr-white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 18px;
  background-color: var(--neutral-clr-veryLightGray);
  overflow-x: hidden;
}

img {
  width: 100%;
}

p {
  line-height: 1.5;
  color: var(--neutral-clr-grayBlue);
}

.title {
  color: var(--primary-clr-darkBlue);
  font-weight: 300;
  font-size: 2em;
}

.logo {
  cursor: pointer;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  background: -webkit-gradient(linear, left top, right top, from(var(--primary-clr-lime)), to(var(--primary-clr-cyan)));
  background: linear-gradient(to right, var(--primary-clr-lime), var(--primary-clr-cyan));
  color: white;
  text-decoration: none;
  font-weight: 700;
  padding: 1rem 3rem;
  border-radius: 100vh;
}

.nav-bar-container {
  position: relative;
  z-index: 9999;
  width: 100%;
  background-color: var(--neutral-clr-white);
}

.nav-bar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-bar .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  list-style: none;
}

.nav-bar .nav-links .nav-link {
  color: var(--neutral-clr-grayBlue);
  text-decoration: none;
  font-weight: 300;
}

.nav-links li + li {
  margin-left: 1rem;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
}

.hero-section {
  position: relative;
  z-index: 1;
  background-image: url(/images/bg-intro-desktop.svg);
  background-position: 220% 70%;
  background-size: 80%;
  background-repeat: no-repeat;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1 / 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 84vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-section .hero-image {
  position: absolute;
  top: -6rem;
  right: -6rem;
  width: 50%;
}

.hero-section .call-to-action {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.hero-section .hero-p {
  max-width: 23em;
  margin: 1rem 0;
}

.hero-section .hero-title {
  font-size: 50px;
  max-width: 10em;
  font-weight: 300;
  color: var(--primary-clr-darkBlue);
}

.features-container {
  position: relative;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1 / 6;
  background-color: var(--neutral-clr-lightGrayBlue);
}

.features-container .features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features-container .features .feature {
  margin-right: 2rem;
}

.features-container .features .feature:last-of-type {
  margin-right: 0;
}

.features-container .feature-title {
  margin-bottom: 1.5rem;
  font-weight: 400;
  font-size: 22px;
  color: var(--primary-clr-darkBlue);
}

.features-container .feature-icon {
  width: 100px;
  margin: 2rem 0;
}

.features-container .fetures-p {
  max-width: 50rem;
  margin: 1.5rem 0;
}

.articles {
  background-color: var(--neutral-clr-veryLightGray);
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1 / 6;
}

footer {
  width: 100%;
  background-color: var(--primary-clr-darkBlue);
}
/*# sourceMappingURL=syles.css.map */