@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");

:root {
  /** Primary Colors **/
  --primary-clr-darkBlue: hsl(233, 26%, 24%);
  --primary-clr-lime: hsl(136, 65%, 51%);
  --primary-clr-cyan: hsl(192, 70%, 51%);
  /** Neutral Colors **/
  --neutral-clr-grayBlue: hsl(233, 8%, 62%);
  --neutral-clr-lightGrayBlue: hsl(220, 16%, 96%);
  --neutral-clr-veryLightGray: hsl(0, 0%, 98%);
  --neutral-clr-white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 18px;
  background-color: var(--neutral-clr-veryLightGray);
  overflow-x: hidden;
}

img {
  width: 100%;
}

p {
  line-height: 1.5;
  color: var(--neutral-clr-grayBlue);
}

.title {
  color: var(--primary-clr-darkBlue);
  font-weight: 300;
  font-size: 2em;
}

.header-logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 139px !important;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  background: linear-gradient(
    to right,
    var(--primary-clr-lime),
    var(--primary-clr-cyan)
  );
  color: white;
  text-decoration: none;
  font-weight: 700;
  padding: 1rem 3rem;
  border-radius: 100vh;
  white-space: nowrap;
}
.btn:hover {
  background: linear-gradient(
    to right,
    lighten(hsl(136, 65%, 51%), 10%),
    lighten(hsl(192, 70%, 51%), 10%)
  );
}
.nav-bar-container {
  position: relative;
  z-index: 9999;
  width: 100%;
  background-color: var(--neutral-clr-white);
}
.mobile-menu {
  display: none;
}
.nav-bar {
  position: relative;
  display: flex;
  height: 90px;
  justify-content: space-between;
  align-items: center;
  .burguer-menu {
    display: none;
  }
  .nav-links {
    display: flex;
    height: 100%;
    align-items: center;
    list-style: none;
    li {
      display: flex;
      align-items: center;
      height: 100%;
      position: relative;
    }
    .nav-link {
      color: var(--neutral-clr-grayBlue);
      text-decoration: none;
      font-weight: 300;
    }
    li::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      transform: scaleX(0);
      width: 100%;
      height: 5px;
      background: linear-gradient(
        to right,
        var(--primary-clr-lime),
        var(--primary-clr-cyan)
      );
      transition: transform 150ms ease;
    }
    li:hover,
    li:focus {
      .nav-link {
        color: var(--primary-clr-darkBlue);
      }
      cursor: pointer;
    }
    li:hover::after {
      transform: scaleX(100%);
      transition: transform 150ms ease;
    }
  }
}

.nav-links li + li {
  margin-left: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.hero-section {
  position: relative;
  z-index: 1;
  background-image: url(/images/bg-intro-desktop.svg);
  background-origin: border-box;
  background-position: 220% 70%;
  background-size: 80%;
  background-repeat: no-repeat;
  grid-column: 1 / 6;
  display: flex;
  height: 88vh;
  align-items: center;
  .hero-image {
    position: absolute;
    top: -6rem;
    right: -6rem;
    width: 674.5px;
  }
  .call-to-action {
    width: max-content;
  }
  .hero-p {
    max-width: 23em;
    margin: 1rem 0;
  }
  .hero-title {
    font-size: 50px;
    max-width: 10em;
    font-weight: 300;
    color: var(--primary-clr-darkBlue);
  }
}

.features-container {
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
  grid-column: 1 / 6;
  background-color: var(--neutral-clr-lightGrayBlue);
  .features {
    display: flex;
    .feature {
      margin-right: 2rem;
    }
    .feature:last-of-type {
      margin-right: 0;
    }
  }
  .feature-title {
    margin-bottom: 1.5rem;
    font-weight: 400;
    font-size: 22px;
    white-space: nowrap;
    color: var(--primary-clr-darkBlue);
  }
  .feature-icon {
    width: 100px;
    margin: 2rem 0;
  }
  .features-p {
    max-width: 50rem;
    margin: 1.5rem 0;
  }
}

.articles {
  background-color: var(--neutral-clr-veryLightGray);
  grid-column: 1 / 6;
}

.articles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--neutral-clr-veryLightGray);
  .articles-title {
    margin-bottom: 3rem;
  }
  .cards {
    display: flex;
    .card:last-of-type {
      margin-right: 0;
    }
  }

  .card {
    background-color: var(--neutral-clr-white);
    border-radius: 5px;
    overflow: hidden;
    margin-right: 1rem;
    height: 10%;
    font-size: 15px;
    .card-content {
      padding: 1.5rem;
      text-overflow: ellipsis;
    }
    .card-title {
      color: var(--primary-clr-darkBlue);
      font-weight: 300;
      margin: 0.5rem 0;
    }
    .card-title:hover {
      color: var(--primary-clr-lime);
      cursor: pointer;
    }
    .card-author {
      font-size: 12px;
    }
  }
  .card-image-1,
  .card-image-2,
  .card-image-3,
  .card-image-4 {
    overflow: hidden;
    height: 200px;
  }
}

.card-image-1 {
  background-image: url(/images/image-currency.jpg);
  background-position: center center;
  background-size: cover;
}
.card-image-2 {
  background-image: url(/images/image-restaurant.jpg);
  background-position: center center;
  background-size: cover;
}
.card-image-3 {
  background-image: url(/images/image-plane.jpg);
  background-position: center center;
  background-size: cover;
}
.card-image-4 {
  background-image: url(/images/image-confetti.jpg);
  background-position: center center;
  background-size: cover;
}

footer {
  width: 100%;
  height: 200px;
  background-color: var(--primary-clr-darkBlue);
  .footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    span {
      color: var(--neutral-clr-grayBlue);
    }
    .btn {
      padding: 1rem 2rem;
      white-space: nowrap;
      margin-bottom: 1.5rem;
    }
  }
  .media-logo {
    display: flex;
    flex-direction: column;
  }
  .footer-logo {
    width: 139px;
    margin-bottom: 4rem;
    cursor: pointer;
  }
  .media-icons {
    display: flex;
    align-items: center;
    list-style: none;
    .media-icon {
      cursor: pointer;
      margin-right: 0.8rem;
    }
    .media-icon:hover {
      path {
        fill: var(--primary-clr-lime);
      }
    }
  }
  .footer-nav {
    display: flex;
    .footer-nav-items:last-of-type {
      margin-right: 0;
    }
    .footer-nav-items {
      list-style: none;
      margin-right: 6rem;

      .footer-nav-item {
        color: var(--neutral-clr-lightGrayBlue);
        font-weight: 300;
        font-size: 15px;
        line-height: 2.5;
        text-decoration: none;
      }
      .footer-nav-item:hover {
        color: var(--primary-clr-lime);
      }
    }
  }
}
.copy {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  .btn {
    margin: 1.5rem 0;
  }
}

.attribution {
  color: white;
  a {
    color: var(--neutral-clr-grayBlue);
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}

/** Media **/

@media (max-width: 1064px) {
  .grid {
    display: flex;
    flex-direction: column;
  }
  .container {
    margin: 5rem auto;
  }
  .nav-bar.container {
    margin: 0 auto;
  }
  .footer-content.container {
    margin: 0 auto;
  }
  .nav-bar {
    align-items: center;
  }
  .menu-overlay {
    display: none;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: linear-gradient(
      180deg,
      rgba(45, 49, 77, 1) 0%,
      rgba(249, 249, 249, 0) 100%
    );
  }
  .mobile-menu {
    background-color: var(--neutral-clr-white);
    display: none;
    position: absolute;
    padding: 2rem 0;
    top: 120%;
    left: 0;
    width: 100%;
    border-radius: 5px;
    .mobile-links {
      list-style: none;
      text-align: center;
      li {
        margin-bottom: 1.5rem;
      }
      li:last-of-type {
        margin: 0;
      }
      .mobile-link {
        text-decoration: none;
        color: var(--primary-clr-darkBlue);
      }
    }
  }
  .nav-links {
    display: none !important;
  }
  .burguer-menu {
    display: flex !important;
    align-items: center;
  }
  .nav-request {
    display: none !important;
  }
  .hero-section {
    background-image: url(../images/bg-intro-mobile.svg) !important;
    background-position-y: -5%;
    background-size: contain;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    height: 100% !important;

    .hero-section-content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .hero-title-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      .hero-title {
        white-space: pre-line;
      }
    }
    .hero-image {
      order: -1;
      position: relative;
      top: -172px;
      right: 0;
      width: 100%;
    }
  }
  .feature-title,
  .features-p,
  .features-title {
    text-align: center;
  }
  .features {
    flex-direction: column;
    text-align: center;
  }
  .feature {
    margin-right: 0 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cards {
    flex-direction: column !important;
    .card {
      margin-right: 0;
      margin-bottom: 1.5rem;
    }
  }

  .articles-title {
    text-align: center;
  }
  footer {
    height: 100% !important;
    .copy {
      align-items: center;
    }
  }
  .footer-content {
    flex-direction: column;
    .footer-logo {
      margin: 2rem 0 !important;
    }
  }
  .footer-nav {
    flex-direction: column;
    text-align: center;

    .footer-nav-items {
      margin: 0 !important;
    }
  }
}
